spring:
  cache:
    type: redis
  profiles:
    active: dev
  data:
    redis:
      host: 0.0.0.0
      port: 6379
      username: sa
      password:
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB # 파일 크기제한
      max-request-size: 10MB

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
    region:
      static: ap-northeast-2
    s3:
      bucket: botox-s3
    stack:
      auto: false

jwt:
  issuer: kim11
  secretKey: ff54dd1f64544befbeae0e43d1b9df54ff54dd1f64544befbeae0e43d1b9df54ff54dd1f64544befbeae0e43d1b9df54

---
spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/botox
    username: root
    password: 1111
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
    org.springframework.orm.jpa: DEBUG
    org.springframework.transaction: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    root: INFO
    org.springframework: WARN
    org.hibernate: WARN
    com.botox: DEBUG
    org.springframework.scheduling: DEBUG

