.LeftSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #424242;
  border-right: 1px solid #e9ecef;
  z-index: 1000;
  overflow-y: auto;
}
li{
  color : white;
}