.Main{
    background-color: #2c2c2c;
    height: 100vh
}
.logoImgContainer{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.text_content{
    display: flex;
}

.logo{
    width: 300px;
    height: 300px;
    margin-left: 10px;
}
.lol_text{
    font-size: 20px;
    margin-left: 90px;
    margin-top: -30px;
}
.sudden_text{
    font-size:20px;
    margin-left: 230px;
    margin-top: -60px;
}
.content{
    background-color: #2f2f2f;
    height: 100vh;
    padding-top: 100px;
    padding-left : 300px;
}

.image-container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.image-container img{
    width : 400px;
    height: 300px;
    object-fit: contain;
}
.content {
    display: flex;
    align-content: center;
    text-align: center;
}

.gameImage {
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius : 20px;
}

.gameImage:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/* 이미지와 제목 컨테이너에 대한 스타일 */
.image-container {
    position: relative;
}

/* 제목 스타일 */
.title-overlay {
    position: relative;
    width: 50%;
    bottom: 0;
    transform: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 90px;
    opacity: 0;
    transition: opacity 0.5s;
}

/* 호버 시 제목 보이도록 설정 */
.image-container:hover .title-overlay {
    opacity: 1;
}

/* 사용자 수 표시 스타일 */
.lol_user_count, .sudden_user_count {
    position: absolute;
    margin-top: 350px;
    width: 50%;
    left: 55%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

/* 호버 시 제목과 사용자 수 보이도록 설정 */
.image-container:hover .title-overlay,
.image-container:hover .lol_user_count,
.image-container:hover .sudden_user_count{
    opacity: 1;
}

.lol_user_count .user-icon {
    position: absolute;
    width: 30px;
    height: auto;
    margin-left: -50px;
    margin-top: -10px;
}

.sudden_user_count .user-icon {
    position: absolute;
    width: 30px;
    height: auto;
    margin-left: -50px;
    margin-top: -10px;
}