.Main {
    background-color: #2c2c2c;
}

.container {
    width: 90%;
    height: 100%;
    margin-top: -5px;
    background-color: #2c2c2c;
}

.search-container {
    position: relative;
    margin-bottom: 50px;
    margin-right: 200px;
}

.search-wrapper {
    position: relative;
    float: right;
    margin-right: 5px;
}
.search-input {
    width: 300px;
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #6a6a6a;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#board_title {
    margin-left: 250px;
    padding: 5px;
    margin-top: 10px;
    color: white;
}

/* 게시글 스타일 */
.posts {
    list-style-type: none;
    padding: 10px;
    width: 90%;
    margin-top: 50px;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.post {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin: 0 auto 20px;
    position: relative;
    padding-left: 50px; /* 숫자의 가로 길이 만큼 제목에 여백을 주기 위해 설정 */
}

.post-number {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 16px;
    margin-left: 10px;

}

.post h4 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.posts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #484545;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    color: white;
    display: flex;
    padding: 20px;
}
.post-img {
    width:20%;
    height: 100%;
    border-radius: 20px;
    margin-left: 300px;
    margin-right: -150px;
}
.post-text {
    display: flex;
    flex-direction: column;
    color: #6d6c6c;
}
.post-name{
    margin-left: 20px;
}
.post-plus{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: -50px;
}
.plus {
    color:white;
    margin-top: 5px;
}
.pagination-container {
    display: flex;
    justify-content: center;
    color: white;
}
.number-button {
    padding: 10px;
}

.post-create-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* 버튼을 우측 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.post-create-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6a6a6a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px; /* 우측 여백 추가 */
}

.post-create-button:hover {
    background-color: #0056b3;
}

