.roomListContentGameImage{
    width : 500px;
    height:400px;
    opacity: 90%;
}
.peopleCountContainer{
    display:flex;
    text-align: right;
}
.bangjangContainer{
    display:flex;
}
.roomListContent{
    height:400px;
    background-color: lightgrey;
    margin-left:200px;
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 35px;
    display:flex;
}
.gameName{
    color : gray;
    font-size: 30px;
}
.roomName{
    color : black;
    font-size: 40px;
}
.roomListContent:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.roomContent{
    padding : 10px;
    margin : 20px;
    border : solid 3px black;
}
.topOfContent{
    display:flex;
    justify-content: right;
}