.RoomList{
    margin-left:250px;
    margin-right:250px;
    background-color: #2f2f2f;
    height: 100vh;
}

.userIcon{
    width:100px;
    height:100px;
}
.roomListContentContainer{
    background-color: #2f2f2f;
}
.roomListContent{
    display: flex;
}
.roomListNav{
    display:flex;
}
.createRoomButton{
    width : 500px;

}
.roomListFunctionContainer{
    margin-top: 100px;
    margin-left:200px;
}


/* ===== 모달 CSS ===== */
.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

.modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
}
.modal-open-btn{
    width: 200px;
    height: 100px;
    border-color: lightblue;
    color: black;
    box-shadow: 0 0 40px 40px lightblue inset, 0 0 0 0 lightblue;
    transition: all 150ms ease-in-out;
    border-radius: 25px;
    &:hover {
        box-shadow: 0 0 10px 0 lightblue inset, 0 0 10px 4px lightblue;
    }
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    width: 250px;
    height: 150px;
    padding: 15px;
}
/* ===== 모달 css 끝! =====*/
