.chat_wrap {
    background-color: #2c2c2c;
}

.chat_wrap .header {
    font-size: 14px;
    padding: 15px 0;
    color: white;
    text-align: center;
    margin-top: -40px;
    border-bottom: 1px solid #FFF;
}

.chat_wrap .chat {
    width: 70%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    padding-bottom: 80px;
}

.chat_wrap .chat ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.chat_wrap .chat ul li {
    width: 100%;
}

.chat_wrap .chat ul li.left {
    text-align: left;
}

.chat_wrap .chat ul li.right {
    text-align: right;
}

.chat_wrap .chat ul li > div {
    font-size: 13px;
}

.chat_wrap .chat ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
    color: white;
}

.chat_wrap .chat ul li > div.message {
    display: inline-block;
    word-break: break-all;
    margin: 5px 20px;
    max-width: 75%;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    color: black;
    text-align: left;
}

.chat_wrap .input-div {
    position: fixed;
    bottom: 0;
    width: 70%;
    background-color: #4a4a4a;
    text-align: center;
    border-top: 1px solid #F18C7E;
}

.chat_wrap .input-div > textarea {
    width: 70%;
    height: 80px;
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: #b1b1b1;
}

.input-div textarea {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    padding: 8px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.input-div button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-div button:hover {
    background-color: #fff;
}

.input-div textarea:focus + button {
    background-color: #fff;
}

.input-div textarea:focus + button:hover {
    background-color: #ccc;
}

.message_img {
    width: 35px;
    margin-top: 20px;
    margin-left: 40px;
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
}

.exit-button, .report-button {
    background-color: #ccc;
    color: black;
    border: none;
    width: 150px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.exit-button:hover, .report-button:hover {
    background-color: #ddd;
}

.report-button {
    background-color: #f00;
    color: white;
}

.report-button:hover {
    background-color: #d00;
}

.user-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    float: right;
    margin-top: -800px;
    margin-right: 10px;
    border: none;
    background-color: #4a4a4a;
    border-radius : 10px;
    color: white;
}


.user-title {
    margin: 20px 0;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.user-icon {
    width: 15px;
    margin-right: 5px;
}